button {
  border: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 8px 8px;
  width: 88px;
  outline: 0;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: relative;
  overflow: hidden;
}

.primary {
  background-color: #448aff;
}

.warning {
  background-color: #ffb944;
}